<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>app-meeting-room-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">app-meeting-room-list</ion-title>
    </ion-toolbar>
  </ion-header> -->
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="align-center">
        <app-button is-primary is-medium (click)="addRoom()">Add Meeting Room</app-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
