.custom-ion-input {
  font-family: var(--app-regular-font);
  font-size: var(--app-heading2-font-size);
  color: var(--app-quaternary-color);
  background-color: var(--app-secondary-color);
  position: relative;
  --placeholder-color: var(--app-quaternary-color);
  padding: 0px 10px !important;
  border-radius: 5px;
  height: 40px;
  min-height: unset !important;
  margin-top: 8px;
}

.custom-ion-input::shadow input {
  color: var(--app-quaternary-color);
}

.custom-ion-label-text {
  color: var(--app-quaternary-color);
}

.validation-text {
  color: var(--app-danger-color);
  font-size: var(--app-heading3-font-size);
}
