<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>app-room-status</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid style="padding: 10px 15px;">
    <ion-row>
      <ion-col>
        <ion-segment value="default">
          <ion-segment-button value="default">
            <ion-label>Live</ion-label>
          </ion-segment-button>
          <ion-segment-button value="segment">
            <ion-label>Available</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <app-dropdown [data]="dropDownData" (ngDropdownValueChange)="onFloorChange($event)" resetFilter="false" defaultValue="floor1"></app-dropdown>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <app-dropdown [data]="roomData[selectedFloor.value]" (ngDropdownValueChange)="onFloorChange($event)" resetFilter="false" defaultValue="vt01"></app-dropdown>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
