/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/* include custom fonts */
@font-face {
  font-family: "Poppins Bold";
  src: url("./assets/fonts/Poppins-Bold.woff");
  src: url("./assets/fonts/Poppins-Bold.woff2");
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.woff");
  src: url("./assets/fonts/Poppins-SemiBold.woff2");
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("./assets/fonts/Poppins-Medium.woff");
  src: url("./assets/fonts/Poppins-Medium.woff2");
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("./assets/fonts/Poppins-Regular.woff");
  src: url("./assets/fonts/Poppins-Regular.woff2");
  src: url("./assets/fonts/Poppins-Regular.ttf");
}


.v-align-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .justify-content-center {
    display: flex;
    justify-content: center;
  }
  
  .v-align-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .align-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .small-text-font {
    font-family: var(--app-regular-font);
    font-size: var(--app-heading4-font-size)!important;
    color: var(--app-tertiary-clr);
  }
  
  .small-label-font {
    font-family: var(--app-regular-font);
    font-size: var(--app-heading4-font-size);
    color: var(--app-light-font-clr);
    // font-weight: 400;
  }
  
  .regular-value-font {
    font-family: var(--app-medium-font);
    font-size: var(--app-heading3-font-size)!important;
    color: var(--app-tertiary-clr);
  }
  
  .value-font {
    font-family: var(--app-regular-font);
    font-size: var(--app-heading3-font-size)!important;
    color: var(--app-tertiary-clr);
  }